@import url("https://jatayui.netlify.app/comp-lib.css");
/* ---------comp-lib----- */


@import url("./../../pages/product-page/productPage.css");

@import url("./../../pages/landing-page/landingPage.css");

.cart-link
{
    text-decoration: none;
    font-size: 1.35rem;
    color: black;
}